@using CourseManagementWebClientWebClient.Models
@model IEnumerable<CourseManagementWebClientWebClient.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr class="tb-body-item">
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>@user.Address</td>
            <td>
                <a class="button cta btn btn-primary" asp-controller="UserRole" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="empty-state">
    <img src="https://i.pinimg.com/564x/a1/0b/cd/a10bcd7d2e399ac14ea6908281a2bb1a.jpg"/>
    <p>Nothing to show!</p>
</div>