@model BussinessObject.DTOs.CourseDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3>Product</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating">
                <input asp-for="Name" class="form-control"  autocomplete="name"/>
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Description" class="form-control" autocomplete="description" />
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="IsActive" class="form-check" />
                <label asp-for="IsActive" class="form-label"></label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="submit" value="Save" class="button cta btn btn-primary" />
            </div>
        </form>
    </div>

    <hr />
    <div>
        <p>
            <a asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Id" class="button cta btn btn-primary">Add Topic</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        TopicName
                    </th>
                    <th>
                        Teaching-Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Student Materials
                    </th>
                    <th>
                        Student's Task
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Topics)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.teachingType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaterialDTO.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentTask)
                        </td>
                        <td>
                            <div class="page-action">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="width: 16px; height: 16px;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M512 305.7c-57.3 0-103.8-46.5-103.8-103.8S454.7 98.2 512 98.2 615.8 144.7 615.8 202 569.3 305.7 512 305.7z m0 311.3c-57.3 0-103.8-46.5-103.8-103.8S454.7 409.5 512 409.5 615.8 456 615.8 513.3 569.3 617 512 617z m0 311.3c-57.3 0-103.8-46.5-103.8-103.8S454.7 720.8 512 720.8s103.8 46.5 103.8 103.8S569.3 928.3 512 928.3z"/></svg>
                                <div class="action-items">
                                    @if (item.MaterialDTO == null)
                                    {
                                        <a class="action-item" asp-controller="Topic" asp-action="UploadMaterial" asp-route-id="@item.Id">
                                            Upload Material
                                        </a>
                                    }
                                    <a class="action-item" asp-controller="Topic" asp-action="Edit" asp-route-id="@item.Id">
                                        Edit
                                    </a>
                                    <a class="action-item" asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">
                                        Details
                                    </a>
                                    <a class="action-item" asp-action="Delete" asp-route-id="@item.Id">
                                        Delete
                                    </a>
                                    @if (item.MaterialDTO != null)
                                    {
                                        <a class="action-item" asp-controller="Topic" asp-action="Dowload" asp-route-id="@item.Id">
                                            Dowload Material
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
